<p>Single Blog List!</p>
{% for blog in blogs %}
   <div class="card text-center">
  <div class="card-header">
     <img width="100%" height="350px" src="http://fridayapp.cu.ma{{ blog.field_blog_thumbnail }}"></img>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ blog.title }}</h5>
    <p class="card-text">{{ blog.body | raw }}</p>
    <a href="https://fridayapp.cu.ma/lawncare/blog-page/" class="btn btn-primary">Go Back</a>
  </div>
  <div class="card-footer text-muted">
  {{ blog.field_blog_date }}
  </div>
</div>
{% endfor %}